<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{$title or ''}}</title>
    <style type="text/css">
        p{
            margin: 0;
        }
        @page {
            margin: 30px;
            /*size: A4;*/
        }
        @font-face {
            font-family: 'TimesNewRoman';
            font-style: normal;
            font-weight: normal;
            src: url({{ loadAsset('public/assets/fonts/times-news-roman/times.ttf') }}) format('truetype');
        }
        body {
            font-family: TimesNewRoman, "Times Roman", "Times New Roman",serif;
            padding: 28pt 25pt 15pt 25pt;
            font-size: 10pt;
        }
        .page-break {
            page-break-after: always;
        }
        page[size="A4"] {
            background: white;
            width: 21cm;
            height: 29.7cm;
            display: block;
            margin: 0 auto;
            box-sizing: border-box;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
            padding: 1cm 1cm 0 1cm;
        }
        .tb-header tr td p{
            padding-bottom: 24px !important;
        }
        .tb-content{
            margin-bottom: 10px;
            border-collapse: collapse !important;
        }
        .tb-header tr td{
            padding-right: 8px;
        }
        .tb-content tr.thead th{
            text-align: center;
            font-weight: normal;
            padding: 2px;
            font-weight: normal;
            background-color: #D9D9D9;
            font-size: 10pt !important;
        }
        .tb-content tbody tr td{
            padding: 2px 4px;
            font-size: 9pt !important;
            border: 1px solid black;
        }
        .text-center{
            text-align: center;
        }
        .row-bottom{
            background-color: #D9D9D9;
        }
        .row-bottom td{
            font-size: 10pt;
        }
        .form-note{
            width: 100%;
            padding-top: 2px;
            margin-top: 0;
        }
        .form-note ul{
            margin-top: 0 !important;
            padding-top: 0;
        }
        .form-note ul li:first-child{
            margin-top: 0 !important;
            padding-top: 0;
        }
    </style>
</head>
<body class="page-sizea4">
    @if(!empty($printdata))
        @foreach($printdata as $data)
            <table class="tb-header" border=0 cellspacing=0 cellpadding=0 style="width: 100%; table-layout: fixed; word-wrap: break-word;">
                <tr>
                    <td width="86" rowspan="3" style="text-align: left;">
                        @if(!empty($data->logoUrl))
                        <img style="max-width: 74px; max-height: 60px; height: auto;" src="{{$data->logoUrl}}">
                        @endif
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 4px;">
                        <p><strong style="padding-bottom: 6px; font-size: 10pt;">{{$data->clientName or ''}}</strong></p>
                    </td>
                    <td width="190" style="vertical-align: top; font-size: 10pt; text-align: right;">
                        <p>Hotline: <b>{{$data->pHotline or ''}}</b></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-bottom: 4px; font-size: 10pt;"><p><strong>{{$data->groupName or ''}}</strong></p></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"><p style="font-size: 10pt;">{{$data->address or ''}}</p></td>
                </tr>
                <tr style="text-align: center;">
                    <td colspan="3" style="text-align: center; padding: 10px 8px;">
                        <div style="text-transform: uppercase; font-weight: bold; font-size: 14pt;">{{$data->pTitle or ''}}</div>
                    </td>
                </tr>
            </table>
            <table class="tb-header" border=0 cellspacing=0 cellpadding=0 style="width: 100%;">
                <tr style="padding-bottom: 6px;">
                    <td style="padding-bottom: 4pt; width: 56%;">
                        <span style="font-weight: bold;">Kính gửi Ông/Bà: {{$data->residentUserName or ''}}</span>
                    </td>
                    <td style="padding-bottom: 4pt;">
                        <span>Căn hộ: <strong>{{$data->listingAddress or ''}}</strong></span>
                    </td>
                    <td style="padding-bottom: 4pt; text-align: right;">
                        <span>{{$data->listingInfo or ""}}</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="padding-bottom: 8px;">
                        <p>BQL {{$data->groupName or ''}} gửi thông báo phí dịch vụ của căn hộ {{$data->listingAddress or ''}} như sau:</p>
                    </td>
                </tr>
            </table>
            <table class="tb-content" border="1" cellpadding="0" cellspacing="0" style="width: 100%; table-layout: fixed; border-collapse: collapse;">
                <tbody>
                    <tr class="thead">
                        <th style="width: 27pt;" rowspan="2">STT <br> (No.)</th>
                        <th rowspan="2">Diễn giải <br>Description</th>
                        <th style="width: 74pt;" colspan="2">Chỉ số (Figure)</th>
                        <th style="width: 44pt;" rowspan="2">Sử dụng<br>(Used)</th>
                        <th style="width: 30pt;" rowspan="2">ĐVT <br> (Unit)</th>
                        <th style="width: 58pt;" rowspan="2">Đơn giá <br>(Unit Price)</th>
                        <th style="width: 60pt;" rowspan="2">Thành tiền (Amount) VND</th>
                        <th style="width: 60pt;" rowspan="2">Đã thanh toán (Paid) VND</th>
                        <th style="width: 68pt;" rowspan="2">Còn lại <br> (Amount Due) <br> VND</th>
                    </tr>
                    <tr class="thead">
                        <th style="width: 37pt; padding: 0 2px;">Cũ</th>
                        <th style="width: 37pt; padding: 0 2px;">Mới</th>
                    </tr>
                    @if(!empty($data->billDtos))
                        @foreach($data->billDtos as $bills)
                            <tr>
                                <td>{{$bills->no or ''}}</td>
                                <td {{ empty($bills->no) ? 'style="padding-left: 35px;"' : ''}}>{!! !empty($bills->no) ? "<strong>" : "" !!}{{$bills->description or ''}}{!! !empty($bills->no) ? "</strong>" : "" !!}</td>
                                <td class="text-center">{{$bills->oldFigure or ''}}</td>
                                <td class="text-center">{{$bills->newFigure or ''}}</td>
                                <td class="text-center">{{ isset($bills->used) ? numberFormat($bills->used, ",", ".", 2) : ""}}</td>
                                <td class="text-center">{{$bills->unit or ''}}</td>
                                <td style="text-align: right;">{{ isset($bills->price) ? numberFormat($bills->price, ",", ".") : ""}}</td>
                                <td style="text-align: right;">{{ isset($bills->totalAmount) ? numberFormat($bills->totalAmount, ",", ".") : ""}}</td>
                                <td style="text-align: right;">{{ isset($bills->paidAmount) ? numberFormat($bills->paidAmount, ",", ".") : ""}}</td>
                                <td style="text-align: right;">{{ isset($bills->amount) ? numberFormat($bills->amount, ",", ".") : ""}}</td>
                            </tr>
                        @endforeach
                    @else
                        <tr>
                            <td class="text-center" colspan="10">{{ trans('message.no_result_found') }}</td>
                        </tr>
                    @endif
                    <tr class="row-bottom">
                        <td style="padding-left: 22px; font-size: 10pt;" colspan="8"><strong>Tổng cộng (Total): {{$data->strIndex or ''}}</strong></td>
                        <td style="text-align: right; font-size: 10pt;" colspan="2"><strong>{{ isset($data->totalAmount) ? numberFormat($data->totalAmount, ",", ".") : ''}}</strong></td>
                    </tr>
                    <tr class="row-bottom">
                        <td style="padding-left: 22px; font-size: 10pt;" colspan="10">Viết bằng chữ: {{$data->strTotalAmount or ''}}</td>
                    </tr>
                </tbody>
            </table>
            @if(!empty($data->strRemainAmount))
            <p><strong>{{$data->strRemainAmount}}</strong></p>
            @endif
            <p style="margin-bottom: 0;">
                {!! $data->buildingNote or '' !!}
            </p>
            <div class="form-note">
                @if(!empty($data->paymentAttention))
                    {!! $data->paymentAttention !!}
                @endif
            </div>
            <p style="text-align: right;">
                <strong>BQL {{$data->groupName or ''}}</strong>
            </p>

            @if(!$loop->last)
                 <div class="page-break"></div>
             @endif
        @endforeach
    @endif
</body>
</html>
