/*

Template Name: LeadPage

Author URI: https://themeforest.net/user/epic-themes

Author Name: Epic Themes

Version: 1.0

*/



/* --- TABLE OF CONTENT



01. GENERAL LAYOUT

02. MENU-NAV

03. FOOTER

04. HOME

05. TEAM

06. FEATURES

07. PRICING

08. OTHER ELEMENTS

		a. Buttons

		b. Gallery PopUp

		c. Testimonials

		d. Accordion Tabs

		e. Carousel

		f. Features List

09. MEDIA QUERIES



--- */



/* ========================================================== */

/* 			               01. GENERAL LAYOUT                 */

/* ========================================================== */



ul {

	padding: 0;

}



ul, ol {

	list-style: none;

	list-style-image: none;

	margin: 0;

	padding: 0;

	color:#858585;

	font-size: 14px;

	line-height:24px;

	margin-bottom:20px;

}



ul li, ol li{

	font-size: 17px;

	line-height: 28px;

	font-family: 'Open Sans', sans-serif;

	list-style-type: none;

}



ul li i{

	vertical-align: middle;

	padding-right: 5px;

}



p {

	font-size: 17px;

    line-height: 28px;

	font-weight: 400;

	color: #7c8595;

	margin-bottom:15px;

	font-family: 'Open Sans', sans-serif;

}



a,

a:hover,

a:focus,

a:active,

a:visited {

	text-decoration: none;

	outline: 0;

}



a:hover{

	color: #017df7;

}



h1,

h2,

h3,

h4,

h5,

h6 {

  font-family: 'Roboto', sans-serif;

  line-height: 1.2;

  margin-top: 0;

  margin-bottom:20px;

  color: #071e55;

  font-weight: 400;

}



h1 {

	font-size: 48px;

}



h2 {

	font-size: 36px;

}



h3 {

	font-size: 30px;

}



h4 {

	font-size: 26px;

}



h5 {

	font-size: 20px;

}



h6 {

	font-size: 18px;

}



h2.section-title {

    margin-bottom: 10px;

}



p.section-subtitle{

	font-size:18px;

}



p.section-subtitle.white{

	color:#ffffff;

}



iframe {

    max-width: 100%;

    border: none;

}



.iframe-youtube{

    position: relative;

    margin-top: 30px;

    z-index: 100;

}



.iframe-youtube iframe{

    padding: 10px 10px;

    box-shadow: 0 15px 36px rgba(0, 0, 0, 0.20);

    background-color: #fff;

    webkit-border-radius: 8px 8px;

    -moz-border-radius: 8px 8px;

    border-radius: 8px 8px;

    z-index: 100;

}



.video-popup-wrapper{

	position: relative;

}



.video-popup-wrapper:after{

	background-image: radial-gradient(#dee1e0 15%,transparent 25%);

    background-size: 20px 20px;

    content: "";

    position: absolute;

    width: 204px;

    height: 200px;

    right: -64px;

    top: -40px;

    z-index: -1;

}



.video-popup-wrapper img.hero-images{

	padding: 10px 10px;

	box-shadow: 0 20px 42px rgba(0, 0, 0, 0.25);

    background-color: #fff;

    webkit-border-radius: 8px 8px;

    -moz-border-radius: 8px 8px;

    border-radius: 8px 8px;

}



.video-popup-wrapper:hover img.hero-images {

	opacity: 0.99;

}



.popup-gallery:hover .video-popup-image{

	opacity: 1;



}



.video-play-icon {

	position: absolute;

	z-index: 100;

	top: 50%;

	left: 50%;

	margin-top: -45px;

	margin-left: -45px;

    width: 90px;

    height: 90px;

    line-height: 90px;

    text-align: center;

    font-size: 40px;

    color: #007bff;

    background-color: rgba(0, 123, 255, 0.70);

    border-radius: 50% 50%;

    display: inline-block;

    transition: all 0.4s ease-in-out;

    -webkit-transition: all 0.4s ease-in-out;

}



.video-play-icon:hover {

    background-color: rgba(0, 123, 255, 0.99);

    transition: all 0.4s ease-in-out;

    -webkit-transition: all 0.4s ease-in-out;

}



.video-play-icon i {

    color: #fff;

}



.white-text{

	color: #fff;

}



.green {

    color: #e84d3c;

}



.blue {

    color: #017df7;

}



.section-top-border{

	border-top: 1px solid #efefef;

}



.section-bottom-border{

	border-bottom: 1px solid #efefef;

}



.section-white {

	background: #fff;

	padding: 90px 0 100px 0;

}



.section-grey{

	background: #fafbfc;

	padding: 90px 0 100px 0;

}



.section-green{

	background-color: #e84d3c;

	padding: 90px 0;

}



.section-bg-2{

    background: url(../images/bg001.jpg);

    background-position: top center;

    background-repeat: no-repeat;

    background-size: cover;

    width: 100%;

    position: relative;

    padding: 90px 0;

}



.section-bg-overlay {

	width: 100%;

	background: #252525;

	opacity: 0.55;

	position: absolute;

	top: 0;

	left: 0;

	right: 0;

	bottom: 0;

}



.section-white.no-padding, .section-grey.no-padding, .section-blue.no-padding {

	padding:0;

}



.section-white.medium-paddings, .section-grey.medium-paddings, .section-blue.medium-paddings {

	padding: 60px 0;

}



.section-white.small-paddings, .section-grey.small-paddings, .section-blue.small-paddings {

	padding: 30px 0;

}



.section-white.xsmall-paddings, .section-grey.xsmall-paddings, .section-blue.xsmall-paddings {

	padding: 10px 0;

}



.section-white.small-padding-top, .section-grey.small-padding-top, .section-blue.small-padding-top {

	padding: 30px 0 90px 0;

}



.section-white.small-padding-bottom, .section-grey.small-padding-bottom, .section-blue.small-padding-bottom {

	padding: 90px 0 70px 0;

}



.section-white.no-padding-bottom, .section-grey.no-padding-bottom, .section-blue.no-padding-bottom {

	padding: 90px 0 0 0;

}



.section-white.small-ands-no-padding-bottom, .section-grey.small-ands-no-padding-bottom, .section-blue.small-ands-no-padding-bottom {

	padding: 50px 0 0 0;

}



.small-col-inside{

	max-width: 575px;

	padding-left: 55px;

}



.width-100{

	width: 100%;

}



.box-shadow {

	border-radius: 8px;

    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.15);

}



/* margin and padding classes */

.margin-right-15 {

	margin-right: 15px !important;

}



.margin-right-25 {

	margin-right: 25px !important;

}



.margin-left-20 {

	margin-left: 20px !important;

}



.margin-top-110 {

	margin-top: 110px !important;

}



.margin-top-100 {

	margin-top: 100px !important;

}



.margin-top-90 {

	margin-top: 90px !important;

}



.margin-top-80 {

	margin-top: 80px !important;

}



.margin-top-70 {

	margin-top: 70px !important;

}



.margin-top-60 {

	margin-top: 60px !important;

}



.margin-top-50 {

	margin-top: 50px !important;

}



.margin-top-40 {

	margin-top: 40px !important;

}



.margin-top-35 {

	margin-top: 35px !important;

}



.margin-top-30 {

	margin-top: 30px !important;

}



.margin-top-20 {

	margin-top: 20px !important;

}



.margin-top-10 {

	margin-top: 10px !important;

}



.margin-top-5 {

	margin-top: 5px !important;

}



.margin-bottom-0 {

	margin-bottom: 0px !important;

}



.margin-bottom-5{

	margin-bottom: 5px;

}



.margin-bottom-10 {

	margin-bottom: 10px !important;

}



.margin-bottom-20 {

	margin-bottom: 20px !important;

}



.margin-bottom-30 {

	margin-bottom: 30px !important;

}



.margin-bottom-40 {

	margin-bottom: 40px !important;

}



.margin-bottom-50 {

	margin-bottom: 50px !important;

}



.margin-bottom-60 {

	margin-bottom: 60px !important;

}



.margin-bottom-70 {

	margin-bottom: 70px !important;

}



.margin-bottom-80 {

	margin-bottom: 80px !important;

}



.margin-bottom-100 {

	margin-bottom: 100px !important;

}



.margin-bottom-120 {

	margin-bottom: 120px !important;

}



.margin-bottom-130 {

	margin-bottom: 120px !important;

}



.margin-bottom-140 {

	margin-bottom: 140px !important;

}



.padding-top-0 {

	padding-top: 0px !important;

}



.padding-top-10 {

	padding-top: 10px !important;

}



.padding-top-20 {

	padding-top: 20px !important;

}

.padding-top-25 {

	padding-top: 25px !important;

}



.padding-top-30 {

	padding-top: 30px !important;

}



.padding-top-35 {

	padding-top: 35px !important;

}



.padding-top-40 {

	padding-top: 40px !important;

}



.padding-top-45 {

	padding-top: 45px !important;

}



.padding-top-50 {

	padding-top: 50px !important;

}

.padding-top-60 {

	padding-top: 60px !important;

}



.padding-top-70 {

	padding-top: 70px !important;

}



.padding-top-80 {

	padding-top: 80px !important;

}



.padding-top-100 {

	padding-top: 100px !important;

}



.padding-top-120 {

	padding-top: 120px !important;

}



.padding-top-150 {

	padding-top: 150px !important;

}



.padding-bottom-70 {

	padding-bottom: 70px !important;

}



.padding-bottom-60 {

	padding-bottom: 60px !important;

}



.padding-bottom-50 {

	padding-bottom: 50px !important;

}



.padding-bottom-40 {

	padding-bottom: 40px !important;

}



.padding-bottom-30 {

	padding-bottom: 30px !important;

}



.padding-bottom-20 {

	padding-bottom: 20px !important;

}



.padding-bottom-10 {

	padding-bottom: 10px !important;

}



.padding-bottom-0 {

	padding-bottom: 0px !important;

}



.margin-top-0 {

	margin-top: 0px !important;

}



.padding-left-20{

	padding-left: 20px;

}



/* ========================================================== */

/* 			               02. MENU-NAV                       */

/* ========================================================== */



.navbar-brand{

	font-family: 'Roboto', sans-serif;

	font-size: 28px;

	font-weight: 500;

	color: #fff!important;

}



.navbar {

	width: 100%;

	z-index: 9999;

	padding-top: 10px;

	padding-bottom: 10px;

	padding-left: 0;

	padding-right: 0;

}



.navbar-toggler {

    border: 1px solid #e84d3c;

}



.navbar-toggler-icon {

	width: 1.3em;

    height: 1.3em;

}



.navbar-toggler-icon i {

    color: #e84d3c;

    vertical-align: middle;

}



.navbar-fixed-top {

	position: absolute!important;

	background-color: rgba(0, 0, 0, 0.55)!important;

	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04)!important;

	border-bottom: none;

	transition: background-color 0.25s ease 0s;

}



.navbar-fixed-top.opaque {

	position: fixed!important;

	background-color: rgba(0, 0, 0, 0.79)!important;

	border-bottom: 1px solid #212121;

	transition: all 0.25s ease-in-out 0s;

}



.navbar-fixed-top .navbar-nav > li > a, .navbar-fixed-top .navbar-nav > li > a:hover{

	color: #e52a3d



!important;

	-webkit-transition: all 0.5s ease;

    -moz-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;

}



.navbar-fixed-top .navbar-nav > li > a{

	color:#fff !important;

	font-size: 17px !important;

	line-height: 30px !important;

	padding: 10px 15px!important;

	font-family: 'Roboto', sans-serif;

	font-weight: 500;

}



.navbar-fixed-top .navbar-nav .current a {

    color:#e52a3d!important;

     -webkit-transition: all 0.5s ease;

    -moz-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;

}



.navbar-fixed-top.opaque .navbar-nav .current a {

    color:#e52a3d!important;

     -webkit-transition: all 0.5s ease;

    -moz-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;

}



.navbar-fixed-top .navbar-nav > li > a.discover-btn {

	border: 2px solid #e52a3d;

	color: #fff!important;

	background: #e52a3d;

	border-radius: 8px 8px;

	padding: 12px 18px!important;

	margin-left: 10px;

	margin-right: 15px;

	font-family: 'Roboto', sans-serif;

}



.navbar-fixed-top .navbar-nav > li > a.discover-btn:hover {

	color: #e52a3d!important;

	background: transparent;

	border: 2px solid #e52a3d;

}



/* ========================================================== */

/* 			                03. FOOTER                        */

/* ========================================================== */



.footer{

	position: relative;

	overflow: hidden;

    display: block;

    padding-top: 80px;

    background-color: #fafbfc;

}



.footer-top{

	padding-bottom: 60px;

}



.footer-bottom{

	padding: 40px 0 40px 0;

	background-color: #fff;

	border-top: 1px solid #efefef;

}



.footer-top i {

    margin-bottom: 10px;

    color: #e84d3c;

    font-size: 60px;

}



.footer p {

	margin-bottom: 5px;

	line-height: 24px;

	color: #454545;

}



.footer p > a {

	font-size: 17px;

	color: #e84d3c;

	text-decoration:underline;

}



.footer p > a:hover {

	color: #e84d3c;

	text-decoration:underline;

}



span.template-name{

	font-weight: bold;

    color: #e84d3c;

}



a.footer-links {

    display: block;

    font-size: 17px;

    margin-bottom: 2px;

    color: #454545;

}



a.footer-links:hover {

	color: #e84d3c;

	text-decoration:underline;

    transition: all .5s ease-in-out;

}



/* Footer Social Icons */

ul.footer_social{

	width:100%;

	max-width:1140px;

	display:block;

	margin:0 auto;

	padding-top:15px;

	text-align:center;

}



ul.footer_social li{

	display:inline-block;

    margin:0 ;

	line-height:100%!important;

}



ul.footer_social li a i {

  display: inline-block;

  margin:0 8px;

  padding:0;

  font-size:26px!important;

  line-height: 26px!important;

  color: #e84d3c;

  transition: all .5s ease-in-out;

  -moz-transition: all .25s ease-in-out;

  -webkit-transition: all .25s ease-in-out;

}



ul.footer_social li a i.fa-twitter {

  color: #4099ff;

}



ul.footer_social li a i.fa-pinterest {

  color: #C92228;

}



ul.footer_social li a i.fa-facebook-square {

  color: #3b5998;

}



ul.footer_social li a i.fa-instagram {

  color: #8a3ab9;

}



ul.footer_social li a i.fa-skipe {

  color: #00aff0;

}



ul.footer_social li a i.fa-dribble {

  color: #ea4c89;

}



ul.footer_social li a i:hover {

	color:#e84d3c!important;

}



/* Footer Contact */

p.contact-info{

	margin-bottom:8px;

}



p.contact-info a{

	margin-bottom:8px;

	color: #7c8595;

}



p.contact-info a:hover{

	text-decoration: underline;

}



p.contact-info i{

	font-size:18px;

	padding-right:5px;

	vertical-align: middle;

	color: #e84d3c;

}



/* ========================================================== */

/* 			               04. HOME                           */

/* ========================================================== */



.home-section {

	position: relative;

	z-index: 999;

	overflow: hidden;

  	padding-top: 140px;

  	padding-bottom: 110px;

  	background: url(../images/bg000.jpg) top center no-repeat;

	background-size: cover;

}



.home-section-overlay{

	width: 100%;

	background: #151515;

	opacity: 0.30;

	position: absolute;

	top: 0;

	left: 0;

	right: 0;

	bottom: 0;

}



.home-section h1{

	margin-bottom: 15px;

    color: #fff;

    text-shadow: 1px 1px #454545;

}



.home-section p.hero-text{

	margin-bottom: 25px;

	max-width: 600px;

	font-size: 20px;

	line-height: 30px;

	font-weight: 400;

	color: #fff;

    text-shadow: 1px 1px #656565;

}



ul.home-benefits {

    margin-bottom: 25px;

    letter-spacing: 1px;

    color: #fff;

}



ul.home-benefits li {

    font-size: 18px;

    line-height: 30px;

    margin-bottom: 10px;

    color: #fff;

}



ul.home-benefits li i {

    font-size: 26px;

    line-height: 30px;

    margin-right: 5px;

}



/* -----  Register ----- */

.register-form-wrapper{

	margin-top: 25px;

	padding: 40px 40px;

	background: rgba(255,255,255,1);

	border-radius: 5px 5px;

}



.register-form-wrapper h3{

	margin-bottom: 5px;

	font-size: 22px;

	font-weight: 500;

}



.register-form-wrapper p{

	margin-bottom: 25px;

	font-size: 17px;

}



input.register-input, select.register-input{

	width: 100%!important;

    height: 52px!important;

    padding-left: 2%!important;

    padding-right: 2%!important;

    margin-bottom: 15px!important;

    color: #555!important;

    border: 1px solid #f1f1f1!important;

    background-color: #f9f9f9!important;

    font-size: 16px!important;

    border-radius: 5px 5px 5px 5px!important;

}



input.register-submit{

	background: #e84d3c;

    border: none;

    color: #fff;

    letter-spacing: 1px;

    cursor: pointer;

    display: inline-block;

    font-size: 14px;

    font-weight: 700;

    width: 100%;

    max-width: 535px;

    padding: 16px 0;

    text-transform: uppercase;

    -webkit-border-radius: 3px 3px;

    -moz-border-radius: 3px 3px;

    border-radius: 3px 3px;

    transition: all .50s ease-in-out;

    -moz-transition: all .50s ease-in-out;

    -webkit-transition: all .50s ease-in-out;

}



input.register-submit:hover{

	background:#e5402e;

	transition: all .50s ease-in-out;

	-moz-transition: all .50s ease-in-out;

	-webkit-transition: all .50s ease-in-out;

}



#register-form input.register-input:focus, #register-form select.register-input:focus {

  border-color:#656565!important;

  color: #454545!important;

  outline: none;

}



#register-form input.register-input:focus, #register-form select.register-input:focus {

  border-color:#656565!important;

  color: #454545!important;

  outline: none;

}



p.register_success_box{

	display:inline-block;

	color:#252525;

	border: 1px solid #dedede;

	padding: 25px 25px;

	font-size:19px;

	text-shadow: none;

	font-style:italic;

	border-radius: 8px 8px;

	margin:15px 0;

}



p.register-form-terms{

	margin: 10px 0 5px 0;

	font-size: 14px;

	color: #7c8595;

    text-shadow: none;

}



/* ========================================================== */

/* 			               05. TEAM                           */

/* ========================================================== */



.team-item{

	margin-top:40px;

	padding-bottom: 20px;

	background-color: #fff;

	border: 1px solid #e5efff;

    text-align: center;

    transition: all 1s;

	border-radius: 8px 8px;

	-webkit-transition: all 0.25s ease-in-out;

	-moz-transition: all 0.25s ease-in-out;

	-ms-transition: all 0.25s ease-in-out;

	-o-transition: all 0.25s ease-in-out;

	transition: all 0.25s ease-in-out;

}



.team-item:hover{

	border: 1px solid #e84d3c;

	transform: scale(1.025);

	transition: all 0.5s;

}



.team-item h3{

	margin:20px 0 1px 0!important;

	color:#454545;

	font-size:18px;

	font-weight: 500;

	text-transform:uppercase;

	transition: all .25s ease-in-out;

	-moz-transition: all .25s ease-in-out;

	-webkit-transition: all .25s ease-in-out;

}



.team-info {

	display: block;

	margin-bottom:0;

	padding: 0 40px;

}



.team-info p{

	color:#acacac;

	font-style:italic;

}



.team-info::after {

    background: #e84d3c;

    display: inline-block;

    vertical-align: middle;

    content: "";

    width: 50px;

    height: 3px;

    margin-top: -20px;

}



.team-img{

	-webkit-border-radius: 8px 8px 0 0;

	-moz-border-radius: 8px 8px 0 0;

	border-radius: 8px 8px 0 0;

}

/* ========================================================== */

/* 			                06. FEATURES                      */

/* ========================================================== */



.our-services {

	position: relative;

    margin-top: 45px;

    text-align: center;

	transition:all 1s;

}



.our-services:hover{

	transform: scale(1.025);

	transition:all 1s;

}



.our-services img {

	margin-bottom: 20px;

    border-radius: 8px 8px;

	transition:all 1s;

}



.our-services h3{

	font-size: 22px;

	font-weight: 500;

	color: #292929;

	margin-bottom: 15px;

}



.our-services h3 {

    margin-bottom: 5px;

}



.our-services h3 a {

    font-size: 22px;

    font-weight: 500;

    color: #e84d3c;

}



.our-services p{

	padding: 0 10px;

	margin-bottom: 25px;

}



.process-wrapper{

	position: relative;

	z-index: 999;

	overflow: hidden;

	background: url(../images/process-line.png) no-repeat scroll center 120px;

}



.process {

	position: relative;

    margin: 45px 5px 5px 5px;

    padding: 40px 15px 32px 15px;

    overflow: hidden;

    text-align: center;

    border: 1px solid #e5efff;

    background-color: #fefefe;

    border-radius: 8px 8px;

	transition:all 1s;

}



.process:hover{

	border: 1px solid #e84d3c;

	transform: scale(1.025);

	transition:all 1s;

}



.process i{

    margin-bottom: 25px;

	font-size: 60px;

	color: #e52a3d;

}



.process h3{

	font-size: 22px;

	font-weight: 500;

	color: #292929;

	margin-bottom: 15px;

}



.process p{

	padding: 0 10px;

	margin-bottom: 25px;

}



blockquote {

	font-size: 16px;

	color: #4285f4;

	border-left: 2px solid #4285f4;

}



/* Features */

.feature-box{

	text-align: center;

	margin: 30px 0 0 0;

	transition: all 1s;

}

.feature-box h4{

	font-size: 20px;

	font-weight: 500;

}



.faq-box{

	margin: 30px 0 0 0;

	transition: all 1s;

}



.feature-box i{

	margin-bottom: 10px;

	font-size: 54px;

	color: #e84d3c;

}



.feature-box.green i{

	color: #e84d3c;

}



.feature-box.red i{

	color: #f71111;

}



.feature-box.blue i{

	color: #e84d3c;

}



.feature-box.orange i{

	color: #fe9c24;

}



.feature-box.lyla i{

	color: #9561d4;

}



.feature-box.magenta i{

	color: #FF00FF;

}



.feature-box:hover i{

	transform: scale(1.15);

	transition: all 1s;

}



.feature-box h4, .faq-box h4{

	font-size: 22px;

	margin-bottom: 10px;

}



.faq-box h5{

	margin-bottom: 7px;

}



.feature-box p, .faq-box p{

	color: #7c8595;

}

/* ========================================================== */
/* 			               07. PRICING                        */
/* ========================================================== */

#pricing{
    background: url(../images/bg001.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 100px 0;
}

.pricing-wrapper {
    position: relative;
    z-index: 999;
    overflow: hidden;
}

.price-box{

	position: relative;

    margin: 20px 10px 20px 5px;

    padding: 50px 10px 32px 10px;

    overflow: hidden;

    text-align: center;

    border: 1px solid #fff;

    background-color: transparent;

    border-radius: 8px 8px;

	transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}



.price-box.grey-price-box{

	background-color: #e84d3c;

	border:1px solid #e84d3c;

}



.price-box:hover{

	transform: scale(1.025);

	transition: all 1s;

}



.price-box .price-subtitle,.price-box .price-text{

	color: #fff;

}



ul.pricing-list{

	padding: 0 30px;

}



ul.pricing-list li.price-title{

	font-family: 'Roboto', sans-serif;

	font-size: 20px;

	line-height: 24px;

	font-weight: 500;

	letter-spacing: 1px;

	color: #fff;

}



ul.pricing-list li.price-value{

	font-family: 'Roboto', sans-serif;

	font-size: 70px;

	line-height: 70px;

	display: block;

	margin-top:20px;

	margin-bottom: 10px;

	color: #fff;

}



ul.pricing-list li.price-subtitle{

	font-family: 'Open Sans', sans-serif;

	margin-bottom: 30px;

	font-size: 16px;

	line-height: 24px;

	font-weight: 600;

	color: #fff;

}



ul.pricing-list li.price-text{

	display: block;

	font-family: 'Open Sans', sans-serif;

	text-align: left;

	font-size: 16px;

	line-height: 28px;

	font-weight: 400;

	margin-bottom: 5px;

}



ul.pricing-list li.price-text i{

	color: #fff;

}



ul.pricing-list li.price-tag a{

	color: #fff;

	background: transparent;

	border: 1px solid #fff;

	border-radius: 5px 5px;

	padding: 15px 30px;

	display: inline-block;

	font-size: 15px;

	line-height: 24px;

	font-weight: 600;

	margin: 30px 0 5px 0;

	transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}



ul.pricing-list li.price-tag a:hover{

	background: #fff;

	border:1px solid #fff;

	color: #e84d3c;

}



ul.pricing-list li.price-tag-line a{

	color: #fff;

	background: transparent;

	border:1px solid #fff;

	border-radius: 5px 5px;

	padding: 15px 30px;

	display: inline-block;

	font-size: 15px;

	line-height: 24px;

	font-weight: 600;

	margin: 30px 0 5px 0;

	transition: all 0.3s ease-in-out;

	-webkit-transition: all 0.3s ease-in-out;

}



ul.pricing-list li.price-tag-line a:hover{

	color: #e84d3c;

	background: #fff;

	border:1px solid #fff;

}



/* ========================================================== */

/* 			               08. OTHER ELEMENTS                 */

/* ========================================================== */



/* a) Buttons */

.btn-white {

	font-family: 'Roboto', sans-serif;

	font-size: 18px;

	line-height: 22px;

	font-weight: 500;

	color: #e84d3c;

	background-color: #ffffff;

	border: 1px solid #fff;

    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);

	border-radius: 5px 5px;

    letter-spacing: 1px;

	margin: 10px 10px 0 10px 0;

	padding: 16px 26px;

	display: inline-block;

	transition: all 0.4s ease-in-out;

	-webkit-transition: all 0.4s ease-in-out;

}



.btn-white:hover{

	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);

	color: #e84d3c!important;

	background:#f9f9f9;

}



.btn-white-border {

	color: #fff;

	background: transparent;

	font-family: 'Roboto', sans-serif;

	font-size: 18px;

	line-height: 22px;

	font-weight: 500;

	border: 1px solid #fff;

	border-radius: 5px 5px;

	margin: 10px 10px;

	padding: 16px 26px;

	display: inline-block;

	transition: all 0.4s ease-in-out;

	-webkit-transition: all 0.4s ease-in-out;

}



.btn-white-border:hover{

	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);

	color: #e84d3c!important;

	background:#f9f9f9;

}



.btn-white i, .btn-white-border i {

	font-size: 22px;

	line-height: 22px;

	margin-right: 10px;

	vertical-align: text-top;

}



.btn-red {

	font-family: 'Roboto', sans-serif;

	font-size: 18px;

	line-height: 22px;

	font-weight: 500;

	color: #fff;

	background-color: #e84d3c;

	border: 1px solid #e84d3c;

    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.27);

    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);

    letter-spacing: 1px;

	border-radius: 5px 5px;

	margin: 15px 10px 0 0;

	padding: 18px 25px;

	display: inline-block;

	transition: all 0.4s ease-in-out;

	-webkit-transition: all 0.4s ease-in-out;

}



.btn-red:hover{

	box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);

	color: #fff!important;

	background:#e5402e;

}



.btn-red.small, .btn-red-line.small {

	font-size: 16px;

	padding: 14px 20px;

}



a.btn-red:visited, a.btn-red:focus{

	color: #fff!important;

}



/* -----  b) Gallery PopUp ----- */

.popup-wrapper{

	display:block;

	position:relative;

	overflow:hidden;

}



.popup-gallery{

	display:inline-block;

	position:relative;

}



.first-gallery{

	margin-bottom:15px;

}



.popup-gallery img {

	position:relative;

	z-index:10;

	width: 100%;

	height: auto;

	-webkit-border-radius: 5px 5px 0 0 !important;

    -moz-border-radius: 5px 5px 0 0 !important;

    border-radius: 5px 5px 0 0 !important;

}



.popup-gallery:hover img {

	opacity: 0.25;

	-webkit-border-radius: 5px 5px 0 0;

    -moz-border-radius: 5px 5px 0 0;

    border-radius: 5px 5px 0 0;

}



.popup-gallery a span.eye-wrapper,

.popup-gallery a span.eye-wrapper2 {

	background-color:#000;

	position: absolute;

	display: block;

	overflow:hidden;

	z-index: 2;

	height:100%!important;

	top: 0%;

	margin-top: 0px;

	left: 0%;

	right: 0%;

	font-size: 22px;

	color:#fff;

	text-align: center;

	font-weight:300;

	opacity: 0;

	-webkit-border-radius: 5px 5px 0 0;

    -moz-border-radius: 5px 5px 0 0;

    border-radius: 5px 5px 0 0;

}



.popup-gallery-rounded a span.eye-wrapper,

.popup-gallery-rounded a span.eye-wrapper2 {

	-webkit-border-radius: 5px 5px 5px 5px;

    -moz-border-radius: 5px 5px 5px 5px;

    border-radius: 5px 5px 5px 5px;

}



.popup-gallery a span.eye-wrapper i.eye-icon, .popup-gallery a span.eye-wrapper2 i.eye-icon{

	position: absolute;

	display: inline-block;

	font-size:36px;

	z-index: 3;

	top: 50%!important;

	margin-top: -18px!important;

	left: 0%;

	right: 0%;

}



.popup-gallery a:hover span{

	opacity: 1;

}



.popup-gallery img,

.popup-gallery a span {

	-webkit-transition: all 0.25s ease-in-out;

	-moz-transition: all 0.25s ease-in-out;

	-ms-transition: all 0.25s ease-in-out;

	-o-transition: all 0.25s ease-in-out;

	transition: all 0.25s ease-in-out;

}



.gallery-item{

	margin: 0 15px 37px 10px;

	border:10px solid #fff;

	border-radius: 5px 5px;

}



.portfolio-pic{

	display: block;

	margin-bottom: 10px;

}



.portfolio-box{

	display: block;

	text-align:center;

	background-color: #fff;

	padding-bottom: 5px;

}



.portfolio-box h3{

	margin:10px 0 1px 0!important;

	line-height: 20px;

}



.portfolio-box h3 a{

	color:#454545;

	font-size:18px;

	transition: all .25s ease-in-out;

	-moz-transition: all .25s ease-in-out;

	-webkit-transition: all .25s ease-in-out;

}



.portfolio-item h3 a:hover{

	color:#e84d3c;

}



.portfolio-box p.portfolio-info{

	font-size:15px;

	font-style:italic;

	margin-bottom:1px;

}



.carousel-showcase{

	padding-right: 15px;

	padding-left: 15px;

}



.showcase-wrapper {

    position: relative;

    z-index: 999;

    overflow: hidden;

    padding: 25px 30px 0 30px;

}



/* c) Testimonials */

.testim-inner{

	position: relative;

	text-align: center;

    transition: all 1s;

}



.testim-inner img{

	position: relative;

	display: inline-block;

	max-width: 110px;

	border:1px solid #e5efff;

	border-radius: 50% 50%;

	padding: 5px 5px;

	background-color: #fff;

}



.testim-inner h6{

	margin-bottom: 5px;

	font-size: 19px;

	line-height: 26px;

	font-weight: 500;

	color: #fff;

	font-family: 'Roboto', sans-serif;

}



.testim-inner p{

	font-size: 18px;

	line-height: 28px;

	color: #fff;

	font-style: italic;

	margin-top: 20px;

	margin-bottom: 5px;

	text-shadow: 1px 1px #656565;

}



.testim-rating {

	margin-bottom: 30px;

}



.testim-rating i{

	color: #fdcc28;

}



/* d) Accordion Tabs */

.card{

	border:none;

    background-color: transparent !important;

}



.card-header {

    padding: 6px 0 9px 0;

    margin-bottom: 0;

    background-color: transparent;

    border-bottom: 1px solid #f4f5f6;

}



.card-header h5 .btn-link {

	padding: 0;

	font-size: 19px;

    font-weight: 500;

    color: #071e55;

    background-color: transparent;

}



.card-header h5 .btn-link:hover, .card-header h5 .btn-link:focus {

	text-decoration: none;

}



.card-body {

    padding: 10px 0;

    border-top: 2px solid #e84d3c;

    font-family: 'Open Sans', sans-serif;

    font-size: 17px;

    color: #7c8595;

}



/* e) Carousel */

.carousel-indicators {

    bottom: -15px;

}



.carousel-indicators li {

    position: relative;

    -ms-flex: 0 1 auto;

    flex: 0 1 auto;

    width: 25px;

    height: 7px;

    margin-right: 3px;

    margin-left: 3px;

    text-indent: -999px;

    cursor: pointer;

    background-color: rgba(255,255,255,.5);

    border-radius:5px 5px;

}



.carousel-indicators.testimonials-indicators {

    bottom: -40px;

}



.carousel-indicators.testimonials-indicators li {

    background-color: #e0e0e0;

}



.carousel-indicators.testimonials-indicators .active {

    background-color: #e84d3c;

}



.gallery-show {

    margin: 20px 0 40px 0;

    max-width: 100%;

    border-radius: 8px 8px;

    border: 8px solid rgba(255, 255, 255, 0.8);

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}



.gallery-insta{

	display: inline-block;

	margin-bottom: 15px;

}



.gallery-insta img{

	border-radius: 5px 5px 5px 5px !important;

}



p.follow-instagram{

	font-size: 20px;

}



p.follow-instagram a{

	color: #e52a3d;

}



p.follow-instagram a:hover{

	color: #e52a3d;

}



/* f) Features List */

ul.benefits {

    margin-bottom: 20px;

}



ul.benefits li {

    font-size: 17px;

    line-height: 26px;

    margin-bottom: 8px;

}



ul.benefits li i {

    font-size: 18px;

    line-height: 18px;

    margin-right: 1px;

    color: #e84d3c;

}



.no-padding-bottom{

	padding-bottom: 0;

}



/* ========================================================== */

/* 			             09. MEDIA QUERIES                    */

/* ========================================================== */



@media (max-width: 991px) {



	.navbar-fixed-top .navbar-nav > li.discover-link {

		margin-top: 10px;

	}



	.navbar-fixed-top .navbar-nav > li > a.discover-btn {

	    padding: 8px 12px!important;

	    margin-left: 20px;

	    font-size: 17px!important;

	}



}



@media (max-width: 768px) {



	.home-section {

		padding-top: 120px;

	  	padding-bottom: 55px;

	}



	.footer {

	    padding-top: 30px;

	}



	.footer-top i {

		display: block;

	    margin-top: 50px!important;

	}



	ul.footer_social li a i {

	    margin: 0 8px!important;

	}



    .padding-top-120 {

	    padding-top: 30px !important;

	}



	.top-margins-images{

		margin-top: 40px;

	}



}



@media (max-width: 375px) {



	.navbar-toggle {

	    margin-bottom: 0;

	    border: 1px solid #9f9f9f!important;

	}



	.home-section h1 {

	    font-size: 38px;

	    line-height: 44px;

	}



	.section-white {

	    padding: 60px 0 70px 0!important;

	}



	.section-white.small-padding-bottom, .section-grey.small-padding-bottom {

	    padding: 60px 0 50px 0!important;

	}



	.margin-left-20{

		margin-left: 1px!important;

	}



	.register-form-terms{

		padding-bottom: 30px;

	}



	.small-col-inside{

		padding-right: 25px;

		padding-left: 25px;

	}



}
