@media (max-width: 767px) {
    .td-header-desktop-wrap {display: none;}
}
@media (min-width: 767px) {
    .td-header-mobile-wrap {display: none;}
}
#td-top-mobile-toggle{display:none}
@media(max-width:767px){
    #td-top-mobile-toggle{display:inline-block;position:relative}}
    #td-top-mobile-toggle a{display:inline-block}
    #td-top-mobile-toggle i{font-size:27px;width:64px;line-height:54px;height:54px;display:inline-block;padding-top:1px;color:#fff}

    .td_block_big_grid_7 .td-big-grid-post-0.td-small-thumb
    , .td_block_big_grid_7 .td-big-grid-post-1.td-small-thumb
    , .td_block_big_grid_7 .td-big-grid-post-2.td-small-thumb
    {
        margin-bottom:10px;
    }
}
